<div class="container-fluid">
  <div class="row" *ngIf="news.length > 0">
    <div class="col-md-4 padding-lr-5" *ngFor=" let nws of news">
      <a [routerLink]="['/news' ,nws.id]"> <img class="w-100 thumb" src="{{nws.featuredImage.small}}" alt=""></a>
      <div class="home-title-container">
        <div class="home-title-inner-container">
          <h6 class="home-title"> <a class="home-title-link" [routerLink]="['/news' ,nws.id]">
           {{nws.title}}
          </a></h6>
          <h4 class="fa-icon-home"><i class="fa fa-calendar" aria-hidden="true"> <span class="color-gray font-style-normal">
                {{nws.createDate}}</span></i></h4>
          <h4 class="fa-icon-home"><i class="fa fa-user" aria-hidden="true"><span class="color-gray font-style-normal">
                {{nws.author}} </span></i></h4>
          <p class="home-content">{{nws.content}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
