<div class="container-fluid">
  <div *ngIf="loader">
    <app-archive-loader></app-archive-loader>
  </div>
  <div class="row" *ngIf="news && !loader">
    <div class="col-12 padding-zero">
      <h1 class="singal-news-title"> {{news.title}}</h1>
      <div class="singal-news-content" [innerHTML]="news.content"></div>
    </div>
  </div>
  <div class="row" *ngIf="errorMsg && !loader">
    <div class="col-12 align-items-center col-12 flex justify-content-center error-msg-box">
      {{errorMsg || json}}
    </div>
  </div>
</div>
