

<div>
  <h4 class="home-news-title"><a class="color-blue" routerLink="/category/1">Top news</a></h4>
  <div class="color-blue hr"></div>
  <div class="hr-2"></div>
  <app-home-page-template [news]="newsList"></app-home-page-template>
</div>
<div>
  <h4 class="home-news-title "><a class="color-pink" routerLink="/category/3"> World news</a></h4>
  <div class="color-pink hr"></div>
  <div class="hr-2"></div>
  <app-home-page-template [news]="newsList"></app-home-page-template>
</div>
<div>
  <h4 class="home-news-title"><a class="color-red" routerLink="">Entertain news</a></h4>
  <div class="color-red hr"></div>
  <div class="hr-2"></div>
  <app-home-page-template [news]="newsList"></app-home-page-template>
</div>
<div>
  <h4 class="home-news-title "><a class="color-orange" routerLink="">Sport news</a></h4>
  <div class="color-orange hr"></div>
  <div class="hr-2"></div>
  <app-home-page-template [news]="newsList"></app-home-page-template>
</div>
