
  <div class="home-page">
      <app-home-page-template [title]="'news'" [categoryId]="42" [count]="6"></app-home-page-template>
      <app-home-page-template [title]="'politics'" [categoryId]="43" [count]="6"></app-home-page-template>
      <app-home-page-template [title]="'world'" [categoryId]="48" [count]="6"></app-home-page-template>
      <app-home-page-template [title]="'business'" [categoryId]="41" [count]="6"></app-home-page-template>
      <app-home-page-template [title]="'Bazaar Review'" [categoryId]="46" [count]="6"></app-home-page-template>
    </div>
