@import 'css_vars.scss';

.portal {

  $titleFontFamily: 'Open Sans', sans-serif;
  font-family: $titleFontFamily;

  a:hover {
    color: $blue;
    text-decoration: underline;
    outline: none;
  }

  .bg-skyBlue,
  .nav-menu>li:nth-child(1)>a.nav-link {
    background-color: $skyBlue;
  }

  .bg-pink,
  .nav-menu>li:nth-child(2)>a.nav-link {
    background-color: $pink;
  }

  .bg-orange,
  .nav-menu>li:nth-child(3)>a.nav-link {
    background-color: $orange;
  }

  .bg-blue,
  .nav-menu>li:nth-child(4)>a.nav-link {
    background-color: $blue
  }

  .bg-red,
  .nav-menu>li:nth-child(5)>a.nav-link {
    background-color: $red
  }

  .bg-yello,
  .nav-menu>li:nth-child(6)>a.nav-link {
    background-color: $yello;
  }

  .bg-cyan,
  .nav-menu>li:nth-child(7)>a.nav-link {
    background-color: $cyan;
  }

  .bg-tiger-orange,
  .nav-menu>li:nth-child(8)>a.nav-link {
    background-color: $tigerOrange;
  }


  .bg-purple,
  .nav-menu>li:nth-child(9)>a.nav-link {
    background-color: $purple;
  }

  .bg-green,
  .nav-menu>li:nth-child(10)>a.nav-link {
    background-color: $green;
  }

  .bg-light-green,
  .nav-menu>li:nth-child(11)>a.nav-link {
    background-color: $lightGreen;
  }

  .color-skyBlue {
    color: $skyBlue;
  }

  .color-pink,
  a.news,a.News,
  div.news,div.News,
  h4.news,h4.News
  {
    color: $pink;
  }

  .color-orange,
  a.politics,a.Politics,
  div.politics,div.Politics,
  h4.politics,h4.Politics {
    color: $orange;
  }

  .color-blue,
  a.world,a.World,
  div.world,div.World,
  h4.world,h4.World {
    color: $blue;
  }



  .color-red,
  a.business,a.Business, 
  div.business,div.Business,
  h4.business,h4.Business {
    color: $red;
  }


  .color-yello,
  a.sports,a.Sports, 
  div.sports,div.Sports,
  h4.sports,h4.Sports {
    color: $yello;
  }


  .color-cyan,
  a.videos,a.Videos, 
  div.videos,div.Videos,
  h4.videos,h4.Videos {
    color: $cyan;
  }

  .color-tiger-orange,
  a[class*="ife"],
  div[class*="ife"],
  h4[class*="ife"]{
    color: $tigerOrange;
  }

  .color-purple,
  a.entertainment,a.Entertainment, 
  div.entertainment,div.Entertainment,
  h4.entertainment,h4.Entertainment
   {
    color: $purple;
  }

  .color-green,
  a[class*="azaar Review"],
  div[class*="azaar Review"],
  h4[class*="azaar Review"]
   {
    color: $green;
  }

  .color-light-green,
   a[class*="rime"],
  div[class*="rime"],
  h4[class*="rime"] {
    color: $lightGreen;
  }

  .color-white {
    color: $white
  }


  .nav-menu {
    list-style: none;
    display: flex;
    padding: 0px;
    flex-wrap: nowrap;
    overflow: auto;
    margin-bottom: 0px;
    box-shadow: 0px 2px 15px #888888;
  }

  .nav-item {
    flex-grow: 1;
  }

  .nav-link {
    text-decoration: none;
    color: $white;
    padding: 10px 10px;
    width: 100%;
    text-align: center;
    display: block;
    border-right: solid 1px $white;
  }

  .nav-link:hover {
    background: #247367 !important;
    color: $white;
  }

  .nav-link-active {

    background: #436d67 !important;
    padding: 8px 10px;

  }

  .search-input {
    width: 80%;
    font-size: 18px;
    padding: 4px 6px;
    border-radius: 5px;
    border: solid 2px #e3e3e3;
  }

  .color-gray {
    color: #9c9c9c;
  }

  .news-archive-title {
    margin: 10px 0px;
    overflow: hidden;
    height: 48px;
    text-transform: uppercase;
  }

  .news-acchive-link {
    color: #1f1f1f;
    font-family: inherit;
    font-weight: lighter;
    line-height: 1.1;
    font-size: 22px;
  }

  .news-archive-content {
    color: #3d3d3d;
    font-family: inherit;
    font-size: 16px;
    line-height: 22px;
    font-weight: lighter;
    overflow: hidden;
    height: 65px;
    margin: 10px 14px 0px 0px;

  }

  .news-archive-content:before {
    content: '...';
    position: absolute;
    right: 14px;
    bottom: 0;
  }

  .news-arcive-image {
    width: 100%;
    object-fit: cover;
    height: 200px;
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.3), 0 4px 8px 3px rgba(60, 64, 67, 0.15);
  }

  .singal-news-title {
    font-size: 27px;
    font-weight: 550;
    text-transform: uppercase;
    line-height: 1.1;
    margin: 0px;
  }

  .singal-news-content {
    color: #3d3d3d;
    font-size: 17px;
    line-height: 22px;
    padding: 0 0 10px 0;
    font-weight: lighter;
    white-space: pre-line;
    text-align: justify;
    font-family: inherit;
  }

  .fa-icon {
    font-size: 12px;
    margin: 10px 0px;
  }

  .home-date-or-author {
    font-size: 11px;
    margin: 5px 0px;
    color: #9c9c9c;
    font-style: normal;
    font-weight: lighter;
  }

  .fa-icon-padding {
    padding-left: 15px;
  }

  .thumb:hover {
    opacity: 0.70;
  }

  .home-title-container {
    padding: 0px 10px;
    transform: translateY(-45px);
  }

  .home-title-inner-container {
    padding: 10px;
    background-color: $white;
  }

  .home-title {
    margin: 0px 0px;
    font-size: 18px;
    text-transform: uppercase;
    overflow: hidden;
    height: 45px;
  }

  .home-title-link {
    color: #000000;
    font-weight: lighter;
    letter-spacing: -1px;
    word-spacing: 2px;
  }

  .home-content {
    color: #3d3d3d;
    font-family: inherit;
    font-size: 16px;
    line-height: 22px;
    font-weight: lighter;
    overflow: hidden;
    height: 90px;
  }

  .home-news-image {
    width: 100%;
    object-fit: cover;
    height: 130px;
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.3), 0 4px 8px 3px rgba(60, 64, 67, 0.15)
  }

  .home-news-title {
    font-family: inherit;
    font-weight: 550;
    text-transform: uppercase;
    line-height: 1.1;
    margin: 5px 0px;
    font-size: 1.5rem;
  }

  .home-news-title::first-letter {
    font-size: 180%
  }

  .hr {
    border: 1.8px solid !important;
    width: 50%;
    margin-bottom: 20px;
    display: inline-block;
  }

  .hr-2 {
    border: .6px solid #9a9a9a !important;
    width: 50%;
    margin-bottom: 20px;
    display: inline-block;
  }

  .padding-lr-5 {
    padding: 0px 5px !important;
  }

  .padding-top-20 {
    padding-top: 20px;
  }



  .margin-bottom-25 {
    margin-bottom: 25px;
  }

  .bg-footer {
    background: #3d3d3d;
    color: #ababab;
  }

  .footer-link {
    border-left: solid 1.5px $white;
    padding: 5px 15px;
    font-size: 14px;
    color: $white;
  }

  .border-solid-right {
    border-right: solid 1.5px $white;
  }

  .footer-hr {
    background-color: $white;
    margin: 10px 0px;
  }

  .copy-right {
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: lighter;
  }

  .fixed {
    position: fixed;
    top: 0;
    width: 100%;
    background: $white;
    z-index: 20;
  }

  .current-date {
    font-size: 16px;
    font-family: fantasy;
  }

  .mt-30 {
    margin-top: 30px;
  }

  .over-flow-auto {
    overflow: auto;
  }

  .float-rigth {
    float: rigth;
  }

  .float-left {
    float: Left;
  }

  .flex {
    display: flex
  }

  .flex-wrap-wrap {
    flex-wrap: wrap
  }

  .flex-column {
    flex-flow: column
  }

  .justify-content-end {
    justify-content: flex-end;
  }

  .carousel-caption {
    position: absolute;
    right: 5%;
    bottom: 20px;
    left: 5%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: $white;
    text-align: center;
  }

  .slider-link {
    font-size: 22px;
    color: $white;
  }

  .slider-link:hover {
    text-decoration: underline;
  }

  .w-100 {
    width: 100%;
  }

  .w-75 {
    width: 75%;
  }

  .w-50 {
    width: 50%;
  }

  .font-style-normal {
    font-style: normal;
  }

  .input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
  }

  .mb-2 {
    margin-bottom: 0.5rem !important;
  }

  .form-control {
    display: block;
    width: 100%;
    height: 26px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: $white;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .input-group-append {
    display: -ms-flexbox;
    display: flex;
    padding-left: 5px;
  }

  .btn-search {
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0px;
   font-size: 1rem; 
    line-height: 1.5; 
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .btn-search-outline-dark {
    color: #343a40;
    border-color: #343a40;
  }

  .btn-search-outline-dark:hover {
    color: $white;
    background-color: #eaeaea;
    border-color: #a1a4a7;
  }

  .input-group-append .btn-search {
    position: relative;
    z-index: 2;
  }

  .padding-zero {
    padding: 0px !important;
  }

  .margin-main-container {
    margin: 200px 0px 100px 0px;
  }

  .letest-news-img {
    margin-right: 20px;
    width: 28%;
    height: 55px;
    object-fit: cover;
  }

  .letest-news-img:hover {
    opacity: 0.70;
  }

  .letest-news-title {
    color: #000000;
    font-size: 13px;
    font-family: inherit;
    font-weight: 550;
    text-transform: uppercase;
  }

  .logo-width {
    width: 57%;
  }

  @media screen and (max-width: 576px) {
    .mt-main-container {
      margin-top: 325px;
    }

    .logo-width {
      width: 100%;
    }
  }

  @media screen and (max-width:766px) {
    .d-none-col-sm {
      display: none;
    }
  }
}
