<app-letest-news-template cssClass="color-orange" [categoryId]="42" categoryTitle="Recent Post" [count]="4" ></app-letest-news-template>
<app-letest-news-template cssClass="color-pink" [categoryId]="43" categoryTitle="Politics" [count]="4" ></app-letest-news-template>
<app-letest-news-template cssClass="color-red" [categoryId]="41" categoryTitle="Business" [count]="4" ></app-letest-news-template>
<app-letest-news-template cssClass="color-yello" [categoryId]="44" categoryTitle="sports" [count]="4" ></app-letest-news-template>