<div class="container-fluid bg-footer">
  <div class="row">
    <div class="col-10 offset-1">

      <div class="flex justify-content-center padding-top-20">
        <a class=" footer-link" href="">About Us</a>
        <a class=" footer-link" href="">Contact Us</a>
        <a class=" footer-link" href=""> Privacy Policy</a>
        <a class=" footer-link" href="">Disclaimer</a>
        <a class=" footer-link border-solid-right" href="">Terms and Conditions</a>
      </div>
      <hr class="footer-hr">
      <div class="flex justify-content-center">
        <h6 class="copy-right">© All Rights Reserved</h6>
      </div>
    </div>
  </div>
</div>
