<!-- Slider main container -->
<div class="swiper-container">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <img src="../assets/images/news/slider1.jpg" alt="" srcset="">
      <div class="carousel-caption ">
        <h3>
          <a class="slider-link" href="">INDIA EMERGED AS EDUCATIONAL HUB FOR WORLD: EXTERNAL AFFAIRS MINISTER</a>
        </h3>
      </div>
    </div>
    <div class="swiper-slide">
      <img src="../assets/images/news/slider2.jpg" alt="" srcset="">
      <div class="carousel-caption "><h3>
          <a class="slider-link" href="">INDIA EMERGED AS EDUCATIONAL HUB FOR WORLD: EXTERNAL AFFAIRS MINISTER</a>
        </h3></div>
    </div>
    <div class="swiper-slide">
      <img src="../assets/images/news/slider3.jpg" alt="" srcset="">
      <div class="carousel-caption "><h3>
          <a class="slider-link" href="">INDIA EMERGED AS EDUCATIONAL HUB FOR WORLD: EXTERNAL AFFAIRS MINISTER</a>
        </h3></div>
    </div>
    ...
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>
