<!-- Slider main container -->
<div *ngIf="newsList && newsList.length > 0" class="swiper-container">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide" *ngFor="let nws of newsList">
      <img class="slider-image" src="{{nws.featuredImage.small}}" alt="" srcset="">
      <div class="carousel-caption ">
        <h3>
          <a class="slider-link"  [routerLink]="['/news', nws.id]">{{nws.title}} </a>
        </h3>
      </div>
    </div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>
